/*slideshow css*/

/*This line sets the box-sizing property to border-box for all elements 
on the page. It means that padding and border are included in the 
element's total width and height. */
* {box-sizing: border-box}
.mySlides {display: none}

body{font-size: 20px;}
/*vertically aligns images in the middle of their container*/
img {vertical-align: middle;}

/*styles within the slideshow container*/
.slideshow-container {
  max-width: 100%;
  text-align: center;
  position: relative;
  margin: 0 auto;
  border-radius: 5%;
}

/*styles of the previous and next cursors*/
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 5%;
  color: forestgreen;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  left: 10px;
  transform: translateY(-50%);
  padding: 16px;
  margin-top: -22px;
}

/*aligns the previous curson relative to the images*/
.prev {
    left: 32%;
}

/*aligns the next cursor relative to the images*/
.next {
  left: auto;
  right: 32%;
  border-radius: 3px 0 0 3px;
}

/*makes a hover effect over the cursor buttons*/
.prev:hover, .next:hover {
  background-color: forestgreen;
  color: white;
}

/*creates a fade animation when each image is scrolled past*/
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

/*keyframes defines a set of animations called "fade"*/
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }